from aioscpy.spider import Spider


class $classname(Spider):
    name = '$name'
    custom_settings = {
        "SPIDER_IDLE": False
    }
    start_urls = []

    async def parse(self, response):
        item = {
            'hot': '\n'.join(response.xpath('//span[@class="title-content-title"]/text()').extract()),
        }
        yield item
